html,
body {
  background: #512F26 !important;
}

p, h1, h2, h3, h4, h5, h6, label, span, .form-label {
    color: #512F26
}

.btn-max {
  background-color: #FF5933 
}

.btn-max:hover {
  background-color: #e02900e1
}


