# Dependencias
/node_modules
/vendor

# Build output
/public/build/
/public/dist/

# Logs y caché
*.log
*.tmp
.phpunit.result.cache
npm-debug.log
yarn-error.log
supervisord.log
supervisord.pid

# Configuración de entorno
.env
.env.backup
/storage/*.key

# Entorno de desarrollo local
Homestead.json
Homestead.yaml

# Directorios generados dinamicamente.
/public/hot
/public/build
/public/data
/public/fonts
/public/storage
/public/js
/public/css
/public/css-rtl
/public/vendors
/vuexy-shell-scripts
storage
